@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(27, 26%, 92%) !important;
  font-family: "Montserrat", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* src/index.css */
@import "~bootstrap/dist/css/bootstrap.min.css";

/*Comment container*/
.comment-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: initial;
  border: 1px solid hsl(300, 1%, 19%);
  width: fit-content;
  height: fit-content;
  padding: 50px;
  background-color: hsl(27, 26%, 92%);
}
/*style for each posted comment*/
.posted-comment {
  border-top: 1px solid hsl(300, 1%, 19%);
  border-left: 1px solid hsl(300, 1%, 19%);
  width: 500px;
  height: fit-content;
  background-color: hsl(27, 26%, 92%);
  padding: 5px;
  margin-bottom: 15px;
}
/*Stying for the user name*/
.comment-title {
  color: hsl(25, 68%, 50%);
  font-weight: bold;
}

/*Styling for the "Add comment" button*/
.comment-button {
  background-color: hsl(25, 68%, 50%);
  color: hsl(27, 26%, 92%);
  margin-top: 10px;
  cursor: pointer;
}
